<% include partials/header %>

<div class="container">
    <table class="table">
        <tr>
            <th>Date</th>
            <th>Team</th>
            <th>Result</th>
            <th>Opponent</th>
            <th><%= performance %></th>
        </tr>
        <tr>
            <% query.forEach(function(res) { 
                if (res.teamAbbr == team) { %>
                    <td><%= res.gmDate %></td>
                    <td><%= res.teamAbbr %></td>
                    <td><%= res.teamRslt %></td>
                    <td><%= res.opptAbbr %></td>
                    <% if (performance == "PTS") {%>
                        <td><%= res.teamPTS %></td>
                    <%}%>
                    <%if (performance == "AST") {%> 
                        <td><%= res.teamAST %></td>
                    <%}%>
                    <%if (performance == "TO") {%> 
                        <td><%= res.teamTO %></td>
                    <%}%>
                    <%if (performance == "STL") {%> 
                        <td><%=res.teamSTL%></td>
                    <%}%>
                    <%if (performance == "BLK") {%> 
                        <td><%=res.teamBLK%></td>
                    <%}%>
                    <%if (performance == "PF") {%> 
                        <td><%=res.teamPF%></td>   
                    <%}%>                 
                    <%if (performance == "FGA") {%> 
                        <td><%=res.teamFGA%></td>
                    <%}%>
                    <%if (performance == "FGM") {%> 
                        <td><%=res.teamFGM%></td>
                    <%}%>
                    <%if (performance == "2PA") {%> 
                        <td><%=res.team2PA%></td>
                    <%}%>
                    <%if (performance == "2PM") {%> 
                        <td><%=res.team2PM%></td>
                    <%}%>
                    <%if (performance == "3PA") {%> 
                        <td><%=res.team3PA%></td>
                    <%}%>
                    <%if (performance == "3PM") {%> 
                        <td><%=res.team3PM%></td>
                    <%}%>
                    <%if (performance == "FTA") {%> 
                        <td><%=res.teamFTA%></td>
                    <%}%>
                    <%if (performance == "FTM") {%> 
                        <td><%=res.teamFTM%></td>
                    <%}%>
                    <%if (performance == "ORB") {%> 
                        <td><%=res.teamORB%></td>
                    <%}%>
                    <%if (performance == "DRB") {%> 
                        <td><%=res.teamDRB%></td> 
                    <%}%>
                <% }  
                else {%>
                    <td><%= res.gmDate %></td>
                    <td><%= res.opptAbbr %></td>
                    <td><%= res.opptRslt %></td>
                    <td><%= res.teamAbbr %></td>
                    <% if (performance == "PTS") {%>
                        <td><%= res.opptPTS %></td>
                    <%}%>
                    <%if (performance == "AST") {%> 
                        <td><%= res.opptAST %></td>
                    <%}%>
                    <%if (performance == "TO"){%> 
                        <td><%= res.opptTO %></td>
                    <%}%>
                    <%if (performance == "STL") {%> 
                        <td><%=res.opptSTL%></td>
                    <%}%>
                    <%if (performance == "BLK") {%> 
                        <td><%=res.opptBLK%></td>
                    <%}%>
                    <%if (performance == "PF") {%> 
                        <td><%=res.opptPF%></td> 
                    <%}%>                   
                    <%if (performance == "FGA") {%> 
                        <td><%=res.opptFGA%></td>
                    <%}%>
                    <%if (performance == "FGM") {%> 
                        <td><%=res.opptFGM%></td>
                    <%}%>
                    <%if (performance == "2PA") {%> 
                        <td><%=res.oppt2PA%></td>
                    <%}%>
                    <%if (performance == "2PM") {%> 
                        <td><%=res.oppt2PM%></td>
                    <%}%>
                    <%if (performance == "3PA") {%> 
                        <td><%=res.oppt3PA%></td>
                    <%}%>
                    <%if (performance == "3PM") {%> 
                        <td><%=res.oppt3PM%></td>
                    <%}%>
                    <%if (performance == "FTA") {%> 
                        <td><%=res.opptFTA%></td>
                    <%}%>
                    <%if (performance == "FTM") {%> 
                        <td><%=res.opptFTM%></td>
                    <%}%>
                    <%if (performance == "ORB") {%> 
                        <td><%=res.opptORB%></td>
                    <%}%>
                    <%if (performance == "DRB") {%> 
                        <td><%=res.opptDRB%></td> 
                    <%}%>
                <% }
            }) %>
        </tr>
    </table>
    <a href="/mongodb" class="btn btn-primary">Go Back</a>
</div>

<% include partials/footer %>